<div  class="first">
    <div class="transbox">
        <div class="transbox2">
        <div style="position:relative;left:400px;top:200px;">
        <button id="rcorners2"><large> <a class ="ex2" style="color: #00ffff;font-weight:bold;font-size:100%" ng-click="openInst()"> INSTRUCTIONS</a><large>

        </button>
        <br> <br><br>
        <button id="rcorners2"> <a class ="ex2" style="color: #00ffff;font-weight:bold;font-size:100%" ng-click="openCon()"> CONTACT US </a>

        </button>
</div>

    </div>
</div>
