<div class = "container" style="position: relative;bottom:200px" ng-show="loggedIn">
    <div class="tableB">
    </div>
    <span style="position :relative;top:250px;height:50px;background-color:#69abb2;left:410px"><h2> DISABLE A USER </h2></span>
    <div>
        <table ng-show="loggedIn" style="position:relative;top:250px">
            <thead>
                <tr>
                    <td><b>NAME</b></td>
                    <td><b>EMAIL ID</b></td>
                    <td><b>ACTION</b></td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in users | startFrom:(currentPage-1)*pageSize | limitTo:pageSize">
                    <td>{{ user.firstName}}<span>&nbsp;</span>{{ user.lastName}}</td>
                    <td>{{user.email}}</td>
                    <td>
                        <button class='btn' style="background-color:#4367a5;color:white" ng-click="ActionUser(user._id,disable)"> Disable </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div  style = "position:relative;left:90px;top:300px">
            <ul uib-pagination total-items="orders.length" ng-model="currentPage" items-per-page="pageSize"></ul>﻿
        </div>
</div>
