
<table ng-show="loggedIn">
    <tr>
    <td><b>Order_Id</b></td>
    <td><b>Acceptance Date</b></td>
    <td><b>Tententive Return Date</b> </td>
    <td><b>Actual Return Date</b></td>
    <td><b>Fine</b></td>
    <td><b>Remove</b></td>
</tr>
  <tr ng-repeat="fine in fines">
    <td>{{fine.order_id }}</td>
    <td>{{getFine(fine.Dof)}}</td>
    <td>{{getFine(fine.DoR)}}</td>
    <td>{{getFine(fine.DoIR)}}</td>
    <td>{{fine.fine}}</td>
    <td><button class="btn" ng-click="closeFine(fine._id)">Close</button></td>

  </tr>
</table>
