<table ng-show="loggedIn&&success">
    <tr>
    <td>ORDER_ID</td>
    <td>BOOK_ID</td>
    <td>EMAIL</td>
    <td>STATUS</td>
    <td>Action</td>
</tr>
  <tr ng-repeat="order in orders">
    <td>{{ order._id }}</td>
    <td>{{ order.book_id}}</td>
    <td>{{order.email}}</td>
    <td>{{order.status}}</td>
    <td><select data-width="300px" ng-model="order.status" ng-click="updateStatus(order.status,order._id,order.book_id,order.email)" required>
            <option>Requested</option>
            <option>Returned</option>
            <option>Accepted</option>
            <option>Approved</option>
            <option>Rejected</option>
        </select>
    </td>
  </tr>
</table>
